<p-button
  pRipple
  [pTooltip]="(isFullscreen$ | async) ? 'Exit fullscreen' : 'Enter fullscreen'"
  tooltipPosition="left"
  positionLeft="-5"
  positionTop="-5"
  (onClick)="onFullscreenToggle()"
  styleClass="p-button-map icon-only-toggle p-button-icon-only"
  [style]="{ width: '38px', height: '38px' }"
>
  <ng-template pTemplate="icon">
    <span class="material-symbols-outlined">
      {{ (isFullscreen$ | async) ? 'fullscreen_exit' : 'fullscreen' }}
    </span>
  </ng-template>
</p-button>